<!-- search form -->
<form>
  <!--location search container-->
  <div>
    <label for="location-search">Search</label>
    <input type="text" placeholder="Location" name="location-search" id="location-search">
  </div>

  <!--radius & rating container-->
  <div>

    <div>
      <label for="search-radius">Radius</label>
      <select>
        <option>5 miles</option>
        <option>10 miles</option>
        <option>15 miles</option>
        <option>25 miles</option>
        <option>50 miles</option>
      </select>
    </div>

    <div>
      <label for="rating"></label>
      <div>
        <div>X</div>
        <div>X</div>
        <div>X</div>
        <div>X</div>
        <div>X</div>
      </div>
    </div>

  </div>

  <!--beds / baths / price container-->
  <div>

    <div>
      <label for="bed-count">Beds</label>
      <input name="bed-count" id="bed-count" placeholder="# Beds" type="number">
    </div>

    <div>
      <label for="bath-count">Baths</label>
      <input name="bath-count" id="bath-count" placeholder="# Baths" type="number">
    </div>

  </div>
</form>