<section class="hero is-fullheight-with-navbar">
  <div class="hero-head">
    <div class="container">
      <br>
      <h1 class="title is-2">lodging</h1>

      <!--<app-lodging-search-form></app-lodging-search-form>-->

      <!--lodging entry component-->
      <div>
        <div>
          <div>Lodging Name</div>
          <img src="">
        </div>
        <div>
          <!-- image carosel thing -->
        </div>

        <div>
          <div>Type of Lodging</div>
          <div>Rooms</div>
          <div>Baths</div>
          <div>Amenities</div>
        </div>

        <div>
          <div>Rating XXXXX</div>
          <div>Price per night</div>
          <div>&nbsp;</div> <!--intentionally left empty-->
          <div>Reviews</div>
        </div>

      </div>

      <!-- review container -->
      <div>
        <div>[XX] Reviews</div>
        <div>Add Review</div>

        <!-- review entry -->
        <div>
          <div>
            <div>Reviewer Name</div>
            <div>Date posted</div>
            <div>Rating XXXXX</div>
          </div>
          <div>Review content</div>
        </div>

        <div>Load more reviews</div>
      </div>

    </div>
  </div>
</section>
