<div class="level">
    <div class="level-item">
        <figure class="image is-64x64">
            <img *ngIf="accountInfo === undefined" alt="placeholder image" class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
            <img *ngIf="accountInfo !== undefined && accountInfo.profiles.length == 0" alt="placeholder image" class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
            <img *ngIf="accountInfo !== undefined && accountInfo.profiles.length > 0" alt="placeholder image" class="is-rounded" src="{{accountInfo.profiles[0].image}}">

        </figure>
    </div>

    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Reviewer</p>
            <p *ngIf="accountInfo === undefined" class="title is-6">Anonymous</p>
            <p *ngIf="accountInfo !== undefined" class="title is-6">{{accountInfo.name}}</p>

        </div>
    </div>

    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Rating</p>
            <p *ngIf="review" class="title is-6">{{review.rating}}</p>
        </div>
    </div>

    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Date</p>
            <p *ngIf="review" class="title is-6">{{review.dateCreated | date: 'shortDate'}}</p>
        </div>
    </div>
</div>
<div *ngIf="displayComment && review">{{review.comment}}</div>