<div class="level-item">
    <figure class="image is-64x64">
        <img alt="placeholder image" class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
        <!--[src]= "accountInfo.profiles[0].image"
            src= "{{accountInfo.profiles[0].image}}"
        -->

    </figure>
</div>

<div class="level-item has-text-centered">
    <div>
        <p class="heading">reviewer</p>
        <p class="title is-6">{{accountInfo.name}}</p>

    </div>
</div>

<div class="level-item has-text-centered">
    <div>
        <p class="heading">rating</p>
        <p class="title is-6">{{review.rating}}</p>
    </div>
</div>

<div class="level-item has-text-centered">
    <div>
        <p class="heading">Date</p>
        <p class="title is-6">{{review.dateCreated | date: 'shortDate'}}</p>
    </div>
</div>