<section class="hero is-fullheight-with-navbar">
  <div class="hero-head" >

    <div class="container">
      <uic-lodging-search-form (submitted)="onSearchSubmit($event)"></uic-lodging-search-form>
    </div>

    <div class="container" *ngFor="let lodgings of lodgings">
      <br>
      <h1 class="title is-2">{{lodgings.name}}</h1>
      <!--IMAGES START-->
      <div class="tile is-ancestor">
        <div class="tile is-6 is-parent is-vertical">
          <div class="tile is-child">
            <figure class="image is-16by9">
              <img alt="placeholder image" src="https://bulma.io/images/placeholders/1280x960.png">
            </figure>
          </div>
        </div>
        <div class="tile is-vertical">
          <div class="tile">
            <div class="tile is-parent is-vertical">
              <div class="tile is-child">
                <figure class="image is-5by3">
                  <img alt="placeholder image" src="https://bulma.io/images/placeholders/1280x960.png">
                </figure>
              </div>
              <div class="tile is-child">
                <figure class="image is-5by3">
                  <img alt="placeholder image" src="https://bulma.io/images/placeholders/1280x960.png">
                </figure>
              </div>
            </div>
            <div class="tile is-parent is-vertical">
              <div class="tile is-child">
                <figure class="image is-5by3">
                  <img alt="placeholder image" src="https://bulma.io/images/placeholders/1280x960.png">
                </figure>
              </div>

              <div class="tile is-child">
                <figure class="image is-5by3">
                  <img alt="placeholder image" src="https://bulma.io/images/placeholders/1280x960.png">
                </figure>
              </div>
            </div>

            <div class="tile is-parent is-vertical">
              <div class="tile is-child">
                <figure class="image is-5by3">
                  <img alt="placeholder image" src="https://bulma.io/images/placeholders/1280x960.png">
                </figure>
              </div>

              <div class="tile is-child">
                <figure class="image is-5by3">
                  <img alt="placeholder image" src="https://bulma.io/images/placeholders/1280x960.png">
                </figure>
              </div>
            </div>
          </div>
          <!--IMAGES END-->
          <!--Title for Lodging-->
          <div class="tile is-parent">
            <div class="tile box has-background-dark is-child">
              <div class="level">
                <div class="level-item">
                  <div>
                    <p class="title has-text-light is-3">{{lodgings.name}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tile is-ancestor">
        <div class="tile is-3">
          <div class="tile is-parent">
            <div class="tile box is-child">
              <h2 class="title is-4">overview</h2>

              <div class="level">
                <div class="level-left">
                  <div class="level-item">
                    <div>
                      <p class="heading">Address</p>
                      <p class="title is-6">There is no dummy info to pull</p>
                      <p class="title is-6">There is no dummy info to pull</p>
                      <p class="title is-6">No Dummy info to pull</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="level">
                <div class="level-left">
                  <div class="level-item">
                    <div>
                      <p class="heading">amenity</p>
                      <p>
                        <span class="icon">
                          <i aria-hidden="true" class="fas fa-coffee"></i>
                        </span>
                        <span class="icon">
                          <i aria-hidden="true" class="fas fa-swimmer"></i>
                        </span>
                        <span class="icon">
                          <i aria-hidden="true" class="fas fa-wifi"></i>
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tile">
          <div class="tile is-parent">
            <div class="tile box is-child" *ngFor ="let rentals of lodgings.rentals" >
              <h2 class="title is-4">rooms</h2>
              <div class="level" *ngFor ="let rooms of rentals.rentalUnit.bedrooms" >
                <div class="level-item">
                  <figure class="image is-64x64">
                    <img alt="placeholder image" class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                  </figure>
                </div>
                <div class="level-item has-text-centered" >
                  <div>
                    <p class="heading">Beds</p>
                    <p class="title is-6">{{rooms.bedCount}} {{rooms.bedType}}</p>
                  </div>
                </div>
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">Room</p>
                    <p class="title is-6">{{rooms.roomNumber}}</p>
                  </div>
                </div>
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">amenity</p>
                    <p>
                      <span class="icon">
                        <i aria-hidden="true" class="fas fa-coffee"></i>
                      </span>
                      <span class="icon">
                        <i aria-hidden="true" class="fas fa-swimmer"></i>
                      </span>
                      <span class="icon">
                        <i aria-hidden="true" class="fas fa-wifi"></i>
                      </span>
                    </p>
                  </div>
                </div>
              </div>
              <hr>
            </div>
          </div>

          <div class="tile is-parent">
            <div class="tile box is-child">
              <h2 class="title is-4">reviews</h2>
x
              <div class="level">
                <div class="level-item">
                  <figure class="image is-64x64">
                    <img alt="placeholder image" class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                  </figure>
                </div>
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">reviewer</p>
                    <p class="title is-6">Lorem Ipsum</p>
                  </div>
                </div>

                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">rating</p>
                    <p class="title is-6">8.0</p>
                  </div>
                </div>

                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">date</p>
                    <p class="title is-6">2020-12-29</p>
                  </div>
                </div>
              </div>
x
              <hr>
              <div class="level">
                <div class="level-item">
                  <figure class="image is-64x64">
                    <img alt="placeholder image" class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                  </figure>
                </div>

                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">reviewer</p>
                    <p class="title is-6">Lorem Ipsum</p>
                  </div>
                </div>

                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">rating</p>
                    <p class="title is-6">8.5</p>
                  </div>
                </div>

                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">date</p>
                    <p class="title is-6">2020-12-29</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>
</div>
</div>
<!--<app-lodging-search-form></app-lodging-search-form>-->
<!--previous page / next page buttons-->
<br><br>
<div class="columns is-mobile">
  <div class="column is-one-fifth"><a *ngIf="true" (click)="previousPage()">&lt;Previous Page</a></div>
  <div class="column is-one-fifth is-offset-8"><a *ngIf="true" (click)="nextPage()">Next Page&gt;</a></div>
</div>
</section>
