<section class="hero is-fullheight-with-navbar">
  <div class="hero-head">
    <div class="container">
      <br>
      <h1 class="title is-2">lodging</h1>

      <!--<app-lodging-search-form></app-lodging-search-form>-->

      <!--lodging entry component-->
      <div>
        <img src="">
        <div>Lodging Name</div>

        <div>
          <div>Type of Lodging</div>
          <div>Rooms</div>
          <div>Baths</div>
          <div>Amenities</div>
        </div>

        <div>
          <div>Rating</div>
          <div>Price per night</div>
          <div>&nbsp;</div> <!--intentionally left empty-->
          <div>Reviews</div>
        </div>

      </div>

      <!--previous page / next page buttons-->
      <br><br>
      <div class="columns is-mobile">
        <div class="column is-one-fifth"><a *ngIf="true" (click)="Paginate(-5)">&lt;Previous Page</a></div>
        <div class="column is-one-fifth is-offset-8"><a *ngIf="true" (click)="Paginate(5)">Next Page&gt;</a></div>
      </div>

    </div>
  </div>
</section>
